h2{
    font-style: italic;
    text-align: center;
}
form{
    width: 70%;
    margin: auto;
}
mat-select{
    color: rgb(75, 34, 187);
}
mat-form-field{
    color: teal;
    width: 40%;
    margin-left: 5%;
    margin-top: 2%;
}
mat-label{
    color: rgb(92, 89, 85);
}
mat-option{
    background: rgba(189, 167, 219, 0.2);
}
mat-radio-button{
    color: rgb(180, 176, 171);
}
#footer{
    display: flex;
    justify-content: end;
}
button{
    background: #03C988;
    color: aliceblue;
    margin-left: 3%;
}
button[type='submit']{
    background: #586762
}
img{
    display: block;
    width: 10%;
    height: 5%;
    border-radius: 10%;
    margin: auto;
}